/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

/* Modal Content */
.modal-content {
  position: fixed;
  overflow: hidden;
  top: 50%;
  border-radius: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  width: 60%;
}

@media (max-width: 768px) {
  .modal-content {
    width: 90%;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #8a8a8ab0;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 10px 30px;
  background-color: var(--primary-clr);
  user-select: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.modal-body {
  background-color: #6a9dfd44;
  padding: 30px;
}

.modal-body .row_text {
  display: flex;
  gap: 5px;
}

.modal-body .row_text h4 {
  word-wrap: none;
}

.modal-body .btn-container {
  display: flex;
  padding-top: 30px;
  justify-content: center;
}

.modal-footer {
  padding: 30px;
  background-color: white;
  /* background-color: #5cb85c; */
  /* overflow-y: scroll; */
}

.modal-footer .content {
  overflow-y: scroll;
  height: 250px;
}

.modal-footer ul {
  list-style: circle;
  margin-left: 50px;
  margin-bottom: 10px;
}

.modal-footer h4 {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .modal-content {
    height: 95vh;
  }
  .modal-body {
    padding: 17px;
  }

  .modal-footer {
    padding: 0;
  }

  .modal-footer ul {
    margin-left: 30px;
  }

  .modal-footer .content {
    overflow-y: scroll;
    padding: 17px;
    height: 370px;
    /* height: 100%; */
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
